<div class="form-center">
<h3 class="acct-header"> LOGIN </h3>
<%= form_for :session, url: login_participant_path do |f| %>


<label>
<%= f.email_field :email,:required => true %> 
<div class="label-text" > Email </div>
</label>

<label>
<%= f.password_field :password, :required => true %>
<div class="label-text" > Password </div>
</label>


<%= f.submit "START" %>
<% end %>
</div>
