<% provide(:title, "Alchemist LogIn")%>
<div class="alchem-login">
<h3 class="acct-header"> ALCHEMIST LOGIN </h3>
<%= form_for :session, url: login_alchemist_path do |f| %>


<label>
<%= f.text_field :alchemist,:required => true %> 
<div class="label-text" > Alchemist </div>
</label>

<label>
<%= f.password_field :password, :required => true %>
<div class="label-text" > Password </div>
</label>


<%= f.submit "LOGIN" %>
<% end %>
</div>