<% provide(:title, "Alchemist Dashboard")%>
<div>

	<div id="alchem-options">
		<p class="alchem-dash-opts" id="alchem-dash-users"> View All Users </p>
		<p class="alchem-dash-opts" id="alchem-dash-notify"> Send Notification </p>
		<p class="alchem-dash-opts" id="alchem-dash-add"> Add Alchemist </p>
		<p class="alchem-dash-opts" id="alchem-dash-edit"> Edit Alchemist </p>
		<p class="alchem-dash-opts" id="alchem-dash-all"> View All Alchemist </p>
	</div>


</div>