<div class="form-center">
<h3 class="acct-header"> CREATE YOUR ACCOUNT </h3>
<%= form_for :participant, url: create_account_path do |f| %>
<label>
<%= f.text_field :firstname,:required => true %>
<div class="label-text" > Firstname </div>
</label>

<label>
<%= f.text_field :lastname,:required => true %>
<div class="label-text" > Lastname </div>
</label>

<label>
<%= f.email_field :email,:required => true %> 
<div class="label-text" > Email </div>
</label>

<label>
<%= f.password_field :password, :required => true %>
<div class="label-text" > Password </div>
</label>

<label>
<%= f.password_field :password_confirmation, :required => true %>
<div class="label-text" > Password Confirmation </div>
</label>

<%= f.submit "BEGIN" %>
<% end %>
</div>

<div class="acct-instructions">
	<p> Please sign up to Create An Account. 
		These sessions should be completed by
		a person suffering from memory loss with an active
		Alzheimer's Diagnosis. </p>
	<p> If you are a caregiver creating an 
		account on their behalf, please keep in mind
		that they are expected to independently complete the sessions. 
		It's is important that they do 
		this without your help.
	</p>

	<p> Please click SIGNUP to create the account or LOGIN to sign into your 
	account. </p>
</div>