<% provide(:title, "Dashboard")%>
<div class="alz-dashboard">
	<h3 style="position:fixed; top: 75px; left: 15px; font-size: 2.0em;color: #604677;"> Hello <%= @participant.firstname %>, </h3>

	<div id="notification-bar">
		<p class="notifications-parag"> Notifications </p>
	</div>

	<div id="options">
		<p class="dash-opts" id="dash-tips"> Start Session </p>
		<p class="dash-opts" id="dash-up-diag"> Memory Assessment Exercise </p>
		<p class="dash-opts" id="dash-htw"> How It Works </p>
	</div>

	<div id="main">
			<div class="main-opts" id="hello_user">
				<div>
					<h3 class="hiw-headers"> On NOTIFICATIONS </h3 >
					<p> Use the notification tab above to track any reminders.  </p>
				</div>

				<div>
					<h3 class="hiw-headers"> On DAILY SESSIONS</h3 >
					<p> Click <strong>'Start Session'</strong> to begin today's session. <p>
				</div>

				<div>
					<h3 class="hiw-headers"> On MEMORY ASSESSMENT EXERCISES </h3 >
					<p> <%= @participant.firstname%>, You are encouraged to take as many Memory Assessment Exercises as possible, in addition to the Mandatory Weekly Assessment.  
					</p>

					<p> Click the Memory Assessment Exercise Option located right of the screen. </p>
				</div>

			</div>


		<div class="main-opts" id="hItW">
			<%= render 'shared/how_it_works' %>
		</div>

		<div class="main-opts" id="upload-diag">
			<%= render 'shared/mem_assess' %>
		</div>

		<div class="main-opts" id="session">
			<div class="memory_sesh" id="start_algorithm">
				<p id="intro-counter">0 / 25</p>
				<p class="session-instruction">Click the sentence below and type it 25 times, before proceeding to the daily session. </p>
				<textarea class="mantras" id="bg_mantra" readonly>I love using this app everyday</textarea>
				<textarea class="mantras" id="type_mantra"> </textarea>
				<p class="mini-mantra"> Type the sentence below 25 times in the space above... <br> I love using this app everyday </p>
			</div>

			<div class="memory_sesh" id="start_memory_session">
				<p style="color: #604677; text-align: center; font-size: 1.3em;">
					Welcome to your Memory Recollection Session. Click the button to get started.
				</p>
				<button id="begin-session"> BEGIN </button>
			</div>

			<div class="memory_sesh" id="memory_recall">
				<p style="color: #E1A13E; font-size: 2.5em; text-align: center;" id="memory-counter">0 / 250</p>
				<p class="session-instruction"><strong style="color: #C23F97; font-size: 2.0em;">" I love my memory. It's the best. I always clearly remember everything. I am not forgetful."</strong> Click below and type this sentence 250 times. </p>
				<textarea style="height: 450px;" class="mantras" id="bg_memory" readonly>I love my memory. It's the best. I always clearly remember everything. I am not forgetful.</textarea>
				<textarea style="height: 450px;" class="mantras" id="type_memory"> </textarea>
				<p  class="m-mantra"> Type the sentence below 250 times in the space above... <br> I love my memory. It's the best. I always clearly remember everything. I am not forgetful. </p>
			</div>

		</div>

	</div>



	<div id="progress-bar">
		<p style="text-align: center; font-size: 1.5em; color: #C23F97;"> CURRENT PROGRESS </p>
		<p style="text-align: center; color: #E1A13E;"> Number of Sessions Completed / Number of Sessions Left </p>
		<progress value="22" max="100"> </progress>
	</div>

</div>