<div class="hiw-content">
	<h3 class="hiw-headers"> Thoughts Control Body Pathways </h3 >
	<p class="hiw-parag">The study is based on the hypothesis that Thoughts are stimuli that trigger correspponding responses in the human body.</p>
	<p class="hiw-parag"> We hypothesize that Thoughts can trigger pathway responses which go back to the gene and reset the  constitution of the particular pathway. </p>

</div>

<div  class="hiw-content">
	<h3 class="hiw-headers"> Thoughts Become Things </h3 >
	<p class="hiw-parag"> The study would  like to demonstrate that engaging correct Thoughts can trigger memory recall and reverse memory loss. </p>
	<p class="hiw-parag"> This is based on the  hypothesis that each thought encodes a pathway in the human body that causes a corresponding action. </p>

</div>

<div class="hiw-content">
	<h3 class="hiw-headers"> Daily Sessions </h3>
	<p class="hiw-parag"> The participant is expected to take part in a Daily Session everyday. </p class="hiw-parag">
	<p class="hiw-parag"> These sessions are designed to encode appropriate Thought stimuli, that engages memory recall. </p>
	<p class="hiw-parag"> It is important that the participants perform these daily sessions, which are tracked for data collection. </p>
</div>

<div class="hiw-content">
	<h3 class="hiw-headers"> Weekly Memory Assessment </h3>
	<p class="hiw-parag"> Participants are presented with a scored memory assessment exercise every 7 days. </p class="hiw-parag">
	<p class="hiw-parag"> The Memory Assessment Exercises are designed to track the participants memory improvement over the course of the study. </p>
	<p class="hiw-parag"> Please ensure that you complete the exercises. </p>

	</div>

