<div id="quiz_count"> 
<p class="hiw-headers"> Total Number of Quizzes taken </p>
<div id="total_quizzes">
	<p>15</p>
</div>
</div>

<div id="images">
	<%= image_tag("rabbithat-01.png", :class => 'memory_imgs test-imgs' )%>
	<%= image_tag("ladybug-01.png", :class => 'memory_imgs test-imgs' )%>
	<%= image_tag("board-01.png", :class => 'memory_imgs test-imgs ' )%>
	<%= image_tag("space-01.png", :class => 'memory_imgs test-imgs' )%>
	<%= image_tag("boxes-01.png", :class => 'memory_imgs test-imgs' )%>
	<%= image_tag("futbol-01.png", :class => 'memory_imgs test-imgs' )%>
	<%= image_tag("gas-01.png", :class => 'memory_imgs test-imgs' )%>
	<%= image_tag("pengiun-01.png", :class => 'memory_imgs test-imgs' )%>
	<%= image_tag("letter-01.png", :class => 'memory_imgs test-imgs' )%>
	<%= image_tag("balloon-01.png", :class => 'memory_imgs test-imgs' )%>
	<%= image_tag("books-01.png", :class => 'memory_imgs test-imgs' )%>
	<%= image_tag("painter-01.png", :class => 'memory_imgs test-imgs' )%>
	<%= image_tag("whale-01.png", :class => 'memory_imgs test-imgs' )%>
	<%= image_tag("school-01.png", :class => 'memory_imgs test-imgs' )%>
	<div id="mem_instructions"> 
		<h1 class="hiw-headers"> Instructions </h1>
		<p> The Memory Assessment Exercises can be taken as frequently as the user prefers BUT</p>
		<p> every user is required to take a weekly exercise requirement. This exercise allows the user to track the effectiveness of the mind coaching and memory recollection exercises. It is impertive that the user take satisfy all the application's process to greatly benefit from this process. </p>
		<h3 class="sub-headers" > How the Recollection Quizzes Work </h3>
		<ol> .Each quiz has 6 questions that present the user with 5 images.  </ol>
		<ol> .The user must select an image for each question. </ol>
		<ol> .This image and all other images are faded for a randomized length of time. </ol>
		<ol> .Once the recall time expires, the user is presented with a set of 6 images and must select the image they remember selecting. </ol>
		<ol> .The user's progress at selecting the correct images is tracked by the application. </ol> 
	</div>
</div>

<div class="memory_assess" id="tutorial">
	<%= image_tag("rabbithat-01.png", :id => 'imgOne', :class => 'tut' )%>
	<%= image_tag("balloon-01.png", :id => 'imgTwo', :class => 'tut'  )%>
	<%= image_tag("whale-01.png", :id => 'imgThree', :class => 'tut'  )%>
	<%= image_tag("ladybug-01.png", :id => 'imgFour', :class => 'tut'  )%>
	<%= image_tag("gas-01.png", :id => 'imgFive', :class => 'tut'  )%>

	<p style="text-align:center; font-size: 2.0em; font-family: 'Nunito', sans-serif; color: #0095DA;
" id="quiz-instruct"></p>
</div>

<div class="rememberal">
	<p id="type-remember"> </p>
	<p id="remember-time"> </p>
</div>

<div class="memory_assess" id="exercise">
	<p> Welcome to the memory assessment exercise </p>
</div>

<button class="mem_bttn" id="start_tutorial"> TUTORIAL </button>
<button class="mem_bttn" id="start_assessment"> BEGIN ASSESSMENT </button>
