<% provide(:title, "Home")%>
<div id="alz-home-pg">
<h3 class="sub-headers" id="home-sub-header">  The Theory and Algorithm </h3>
<div id="ab-alz-stdy">
<p> This process focuses on using thoughts as stimuli. Thoughts affect the human body and cause a response within the body. This information allows us to hypothesize that thoughts change memory capabilities of a 
	person, inducing either memory loss or recall depending on the thought stimuli that is focused.</p>

<p><strong style="color:#6DAD43">Evidence</strong> - The connection between thoughts and the body is observed when a person says or thinks 'I am afraid'. The body has a physiological response which increases adrenaline and cortisol hormones, keeping the person in a heightened state until they reverse their thoughts to ones that induce the state of calmness suchh as 'I am calm', which the body respondes to by reversing their state  and suspending the production of the stress hormones. </p>

<p><strong style="color:#DA3694">The App </strong> - The app uses a Memory Recollection Algorithim. This algorithm feeds thoughts that induce memory recollection. Following the theory that <strong style="color:#71D0F6">memory loss is a response to the thought stimuli fed to the brain when a person constantly thinks or says 'I can't remember' or 'I have a terrible memory' or 'I forget alot' or 'I can't remember anything'.</strong> Much like adopting a state of calmness after fright, we theorize that memory loss can be reversed with the correct thought impluses. </p> 

</div>



<%= link_to "START HERE",  continue_path, :id => "start-here-bttn" %>
</div> 

<a id="donate" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=thelovelypractice%40gmail.com&item_name=Alzheimer%27s+Therapy&currency_code=USD&source=url
">DONATE</a>

<p><%= link_to image_tag("fb-01.png", :class => 'social-logo' ), "https://www.facebook.com/Reconditioning-Early-Alzheimers-106285797559625/?view_public_for=106285797559625"%></p>