<% provide(:title, "Start Here" )%>

<div class="app-opts" id="sign-up-participant">
	<%= render 'participants/sign_up' %>
</div>

<div class="app-opts" id="login-participant">
	<%= render 'sessions/login_participant' %>
</div>


<button class="bttn-opts" id="sign-up-bttn"> SIGN UP </button>
<button class="bttn-opts" id="login-bttn"> LOGIN </button>