// Place all the styles related to the Alchemists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media screen and (max-width: 2560px) {

.alchem-login{
	position: fixed;
	top: 30%;
	left: 45%;
}

#alchem-options{
	position: fixed;
	top: 50px;
	right: 100px;
	height: 90%;
	overflow:auto;
}

.alchem-dash-opts{
	
}

}

@media screen and (max-width: 1242px) {
.alchem-login{
	position: fixed;
	top: 30%;
	left: 35%;
	}
}