// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media screen and (max-width: 2560px) {

#donate{
		 text-decoration: none;
		 position: fixed;
		 right:0px;
		 top:0px;
		 font-size:2.0em;
		 padding: 15px 35px;
		 background-color: #E1A13E;
		 color: white;
}

.alert-danger, .alert-error{
		background-color: #ff000017;
    	z-index: 50;
    	color: red;
    	position: fixed;
    	top: 0px;
    	padding: 14px;
    	border-radius: 5px;
    	width: 35%;
    	left: 0;
    	text-align: center;
    	font-family: 'Rubik', sans-serif;
	}

	.alert-success{
		background-color:#ff00e02e;
    	z-index: 50;
    	color: #b462b5;
    	position: fixed;
    	top: 0px;
    	padding: 14px;
    	border-radius: 5px;
    	width: 35%;
    	left: 0;
    	text-align: center;
    	font-family: 'Rubik', sans-serif;
	}

    .alert-info{
        background-color:#00ff082e;
        z-index: 50;
        color: #4caf50;
        position: fixed;
        top: 0px;
        padding: 14px;
        border-radius: 5px;
        width: 100%;
        left: 0;
        text-align: center;
    	font-family: 'Rubik', sans-serif;
    }



p, ol{
font-family: 'Nunito', sans-serif;
}

h1, h3, a{
	font-family: 'Rubik', sans-serif;
	text-decoration: none;
}

.hiw-headers{
	color: #0095DA;
}


.hiw-parag{
	color: #604677;

}
.social-logo{
	position: fixed;
	bottom: 5px;
	left: 10px;
	width: 73px;
	height: 93px;
}

.page-headers{
	font-family: 'Rubik', sans-serif;
	font-size: 2.5em;
	color: #DA3694;
	font-weight: bold;
}

.sub-headers
{
	color:#C23F97;
}

#home-sub-header{
	position: fixed;
	left: 35%;
	top: 15%;
}

.home-logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	opacity: 0.35;
}

#ab-alz-stdy{
	width: 700px;
	height: 750px;
	color: #604677;
	position: fixed;
	left: 35%;
	top: 25%;
}

#sign-up-bttn, #login-bttn, #start-here-bttn, #start_tutorial, #start_assessment{
 border: 2px solid #E1A13E; /* Green */
  color: #e1a13e;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  left: 45%;
  bottom: 25%;
}


#sign-up-bttn, #login-bttn{
	border: none;
	color: #C23F97;
	font-size: 1.5em;
	bottom: 20%;
}

#start_tutorial{
	left: 20%;
}

#login-bttn, #start_assessment
{
	left: 60%;
}

#start-here-bttn{
	left:48%;
}

.acct-instructions{
	width: 350px;
	height: 310px;
	padding: 25px 35px;
	position: fixed;
	top: 250px;
	left: 15%;
	border: 1px solid #8FBAE4;
	#color: #188FE1;
	color :#0074af;
}

}

@media screen and (max-width: 1242px) {

	#home-sub-header{
	position: fixed;
	left: 15%;
	top: 15%;
}


#donate{
		 text-decoration: none;
		 position: fixed;
		 right:0px;
		 top: 95%;
		 font-size:1.0em;
		 padding: 15px 25px;
		 background-color: #E1A13E;
		 color: white;
}

#home-logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	opacity: 0.35;
}

#ab-alz-stdy{
	width: 90%;
	height: 750px;
	color: #604677;
	position: fixed;
	left: 5%;
	top: 25%;
}

#start-here-bttn{
	bottom: 15%;
	left: 35%;
}
#sign-up-bttn{
	left: 20%;
}


.acct-instructions{
	width: 140px;
	height: 310px;
	overflow: auto;
	padding: 25px 35px;
	position: fixed;
	top: 150px;
	left: 0.5%;
	font-size:0.75em;
	border: 1px solid #ffffff;
	#color: #188FE1;
	color :#0074af;
}

#login-participant{
	position: fixed;
	left: 16%;
	top: 15%;
}


}