// Place all the styles related to the Participants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media screen and (max-width: 2560px) {
	.app-opts{
		position: fixed;
		left: 34%;
		top: 10%;
		width: 750px;
		height: 550px;
		display: none;
	}

	#logout{
	color: #c23f97;
	font-size: 2.0em;
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index:10;
	cursor: pointer;
	}

	.rememberal{
		display: none;
	}

	.rememberal p{
		color: #c23f97;
		font-size: 2.5em;
		text-align: center;
	}

	.memory_imgs{
		display: inline-block;
		width: 165px;
		height: 145px;
		padding-left: 20px;
		cursor: pointer;
		opacity: 0.05;
	}
	img{
		cursor: pointer;
	}

	.tut{
		opacity: 0.05;
	}
	.selectable-img{
		cursor: pointer;
	}

	.select-img{
		opacity: 1;
	}

	#hello_user{
	display: block;
	}

	#mem_instructions{
		position: fixed;
		top: 150px;
		left:25%;
		width: 55%;
		height: 650px;
		overflow: auto;
	}

	#total_quizzes{
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: #c23f97;
		color: white;
		font-size:3.5em;
	}

	#remember-time{
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: #c23f97;
		color: white;
		font-size:3.5em;
		position: fixed;
		left: 45%;
		top: 35%;
	}



	#quiz_count{
	position: fixed;
	left:5%;
	top: 150px;
	width: 100px;
	}

	#sign-up-participant{
		display: block;
	}

	.form-center{
		width: 450px;
		position: relative;
		left: 25%;
	}

	.acct-header{
		text-align: center;
		color: #C23F97;

	}

	label{
		display: block;
		padding-top: 20px;
		text-align: center;
		letter-spacing: 4px;
		color: #604677;
		font-family: 'Nunito', sans-serif;
	}
	


	label .label-text{
		font-size: 12px;
		line-height: 15px;
  		-moz-transform: translateY(-32px);
  		-ms-transform: translateY(-32px);
  		-webkit-transform: translateY(-32px);
  		transform: translateY(-32px);
  		transition: all 0.3s; 
	}

	input[type=text], input[type=email], input[type=password], input[type=date], input[type=time] {
		background-color: transparent;
    	border: 0;
    	border-bottom: 2px solid #604677;
    	color: #C23F97;
    	font-size: 18px;
    	letter-spacing: -1px;
    	outline: 0;
    	padding: 5px 20px;
    	text-align: center;
    	transition: all 0.3s;
    	max-width: 100%;
    	font-family: 'Nunito', sans-serif;
    	letter-spacing: 3px;
    	font-size: 1.15em;
	}

	input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, input[type=time]:focus{
  		width: 250px;
	}


	label input[type=text]:focus + div.label-text, label input[type=email]:focus + div.label-text,  label input[type=password]:focus + div.label-text, label input[type=date]:focus + div.label-text, label input[type=time]:focus + div.label-text{
		color: #C23F97;
  		font-size: 13px;
  		-moz-transform: translateY(-64px);
  		-ms-transform: translateY(-64px);
  		-webkit-transform: translateY(-64px);
  		transform: translateY(-64px);
		
	}



	label input[type=text]:valid + div.label-text, label input[type=email]:valid + div.label-text, label input[type=password]:valid + div.label-text, label input[type=date]:valid + div.label-text, label input[type=time]:valid + div.label-text {
  		font-size: 12px;
  		-moz-transform: translateY(-64px);
  		-ms-transform: translateY(-64px);
  		-webkit-transform: translateY(-64px);
  		transform: translateY(-64px);
	}


	input[type=submit]{
		background-color: rgba(255, 255, 255, 0.35);
		color: #604677;
		border-radius: 27px ;
		padding: 15px 30px;
		border: 2px solid #604677;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		margin-top: 10px;
		cursor: pointer;
		transition: all 200ms;
		font-family: 'Nunito', sans-serif;
		position: relative;
		left: 38%;
	}

	input[type=submit]:hover, input[type=submit]:focus {
  		background-color: #C23F97;
  		color: white;
  		border: none;
  		outline: 0;
	}

	.alz-dashboard{
		width: 100%;
		height: 99%;
		position: fixed;
		left: 0;
		top: 0;

	}

	#notification-bar{
		position: fixed;
		top: 0;
		left:38%;
		width: 550px;
		height: 100px;
	}

	#options{
		position: fixed;
		right: 70px;
		top: 10px;
		width: 250px;
	}

	#progress-bar{
		position: fixed;
		bottom: 25px;
		right: 10px;
		width: 650px;
		height: 150px;
	}

	#main{
		position: fixed;
		left: 15%;
		width: 70%;
		height: 650px;
		top: 15%;
		
	}

	.dash-opts, .alchem-dash-opts{
		font-size: 2.5em;
		color: #6E6477;
		padding: 15px 35px;
		cursor: pointer;
	}

	.main-opts{
		position: fixed;
		left: 16%;
		width: 65%;
		height: 650px;
		top: 18%;
		display: none;
		overflow: auto;
		
	}

	.memory_assess{
		width: 65%;
		height: 400px;
		overflow-x: auto;
		overflow-y: auto;
		position: fixed;
		display: none;
		
	}

	progress[value]{
		-webkit-progress-bar: none;
		appearance: none;

		width: 550px;
		height: 30px;
		border-radius: 155px;
		position: fixed;
		right: 50px;
	}

	progress[value]::-webkit-progress-bar{
		background-color: #512877;
		opacity: 0.35;
		border-radius: 50px;
	}

	progress::-webkit-progress-value {
		border-radius: 50px;

		background-color: #C23F97;
	}

	textarea{
		overflow: hidden;
		border: none;
		outline: none;
		position: fixed;
		left: 10%;

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		position: absolute;
		background: transparent;
		autocomplete: off;
		z-index: 10;
	}



		.mantras{
		color: #5C99B9;
		font-size: 4.8em;
		cursor: pointer;
		text-align: center;
	}

	.mantra-words{
		color: #5C99B9;
		font-size: 3.5em;
		cursor: pointer;
		display: inline-block;
		padding-left: 35px;
	}

	.mini-mantra, .m-mantra{
		position: fixed;
		left: 40%;
		top: 65%;
		font-size: 1.3em;
		color: #512877;
		text-align: center;
	}

	.m-mantra{	
		left: 30%;
		top: 85%;
	}

	.session-instruction{
		text-align: center;
		color: #468452;

	}

	#intro-counter{
		text-align: center;
		font-size: 2.5em;
		color: #6E6477;
	}

	#start_memory_session, #memory_recall{
		display: none;
	}

	#begin-session{
		border: 2px solid #E1A13E; /* Green */
  color: #e1a13e;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  left: 45%;
  top: 25%;
	}


	#notification-bar{
			overflow: auto;

		 		background-color:  rgba(255, 255, 255, 0.80);
  		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 188, 212, 0.09) inset;
	}

	.notifications-parag{
	color: #C23F97;
	text-align: center;
	}

}


@media screen and (max-width: 1242px) {
	.app-opts{
		position: fixed;
		left: 18%;
		top: 10%;
		width: 550px;
		height: 550px;
	}

		.form-center{
		width: 350px;
		position: relative;
		left: 15%;
	}

	#notification-bar{
		position: fixed;
		top: 0;
		left:24%;
		width: 250px;
		height: 90px;
	}

		#options{
		position: fixed;
		right:10px;
		top: 5px;
		width: 200px;
		height: 300px;
	}

	#progress-bar{
		position: fixed;
		bottom: 25px;
		right: 5px;
		width: 450px;
		height: 180px;
	}

	#main{
		position: fixed;
		left: 5%;
		width: 63%;
		height: 550px;
		top: 15%;

	}

	.main-opts{
		position: fixed;
		left: 7%;
		width: 60%;
		height: 500px;
		top: 18%;
		display: none;
	}

	#tips{
		display: block;
	}

	.dash-opts{
		font-size: 1.5em;
		color: #6E6477;
		padding: 5px 15px;
		cursor: pointer;
	}

		textarea{
		width: 500px;
		height: 95%;
		left: 0;
	}

		.mini-mantra, .m-mantra{
		color: #5C99B9;
		font-size: 0.85em;
		position: fixed;
		bottom: 5%;
		left: 10%;
	}

	.m-mantra{
		top: 73%;
	}

		.mantras{
		color: #5C99B9;
		font-size: 3.5em;
		cursor: pointer;
		text-align: center;
	}

	#begin-session{
	left: 30%;
	top: 30%;

	}

		#quiz_count{
	position: fixed;
	left:5%;
	top: 550px;
	width: 100px;
	}


}