<% if logged_in? %>
<%= image_tag("bgicon-01.png", :class => 'home-logo' )%>
<%= link_to "Log Out", logout_participant_path, method: :delete, :id => "logout" %>

<% else %>
<%= link_to "Reconditioning Alzheimer's", root_url, :class=>"page-headers" %>
	<%= image_tag("bgicon-01.png", :class=> 'home-logo' )%>
<% end %>